TG_BOT_TOKEN = ""
FORCE_SUB1 = 
FORCE_SUB2 = 
CHANNEL_ID = 
DATABASE_URL = ""
PROTECT_CONTENT = False

#ini gausah dirubah dontol cukup rubah adminnya doang yg mau di adminin
APP_ID = "6"
API_HASH = "eb06d4abfb49dc3eeb1aeb98ae0f581e"
ADMINS = ""
OWNER = "pu19107"
